.features {
    display: flex;
    justify-content: center;
}

.features-container {
    max-width: 1250px;
    width: 100%;
    background: rgba(37, 41, 75, 0.5);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.features-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.features-cards {
    display: flex;
    gap: 55px;
    color: #282D5C;
}

.features-card {
    background: rgb(138, 142, 193);
    border-radius: 20px 0px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.h4-feat{
    font-size: 25px;
    font-style: italic;
    margin: 15px;
}

.p-feat{
  padding: 10px;
  font-size: 20px;
}

.features-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}