.func-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 50px;
}

.h1-func {
    font-size: 2.2rem;
}

.func {
    width: 100%;
    max-width: 750px;
    background: #171619;
    border-radius: 35px;
    border: 3px solid #3F468F;
    box-shadow: 0 4px 20px rgba(136, 115, 174, 0.449);
    display: flex;
    flex-direction: column;
    min-height: 500px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.func-container {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin-top: 20px;
}

.func-message {
    background: linear-gradient(150deg, #035bcd, #347fe0);
    color: #D0C6E3;
    padding: 15px 30px;
    margin: 0 20px 0 20px;
    border-radius: 25px;
    max-width: 80%;
    font-size: 1.5rem;
    margin-top: 20px;
}

.func-message.left { align-self: flex-start; }
.func-message.right { align-self: flex-end; }


.func-footer {
    background-color: #ABAFD7;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-top: auto;
}

.func-circle {
    width: 40px;
    height: 40px;
    background: #ABAFD7;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}