.add-window-layout {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-window {
  width: 450px;
  height: 350px;
  background: #5f6fdc;
  border-radius: 14px;
  padding: 20px;
  position: relative;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  width: 25px;
  top: 12px;
  right: 14px;
  background: none;
  border: none;
  font-size: 18px;
  color: #1c1c1c;
  cursor: pointer;
  opacity: 0.8;
}

.close-btn:hover {
  opacity: 1;
}


.task-form {
  width: 300px;
  height: 180px;
  background: white;
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  gap: 8px;
}


.task-form input,
.task-form textarea,
.task-form select {
  border: none;
  outline: none;
  font-size: 12px;
  background: transparent;
  color: black;
}

.task-form textarea {
  resize: none;
  height: 40px;
}

.priority,.date{
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.task-form select {
  font-size: 11px;
  font-weight: 500;
  background:#d4d2dcae;
  border-radius: 20px;
  padding: 4px 10px;
  width: fit-content;
}

.add-task-btn {
  position: absolute;
  width: 100px;
  height: 35px;
  bottom: 16px;
  right: 20px;
  background:#3523ab;
  border-color:#3a18c4;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.85;
}

.add-task-btn:hover {
  opacity: 1;
}