.task-card {
  max-width: 300px;
  background: white;
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  animation: fadeIn 0.2s ease;
  cursor: text;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.tit-img{
  position: relative;
}

.tit-img img{
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: auto;
  opacity: 0.8;
}

.tit-img img:hover{
 opacity: 1;
}

.task-card:hover {
  box-shadow: 0 8px 18px rgb(120, 104, 225);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}

.task-content{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.task-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding-right: 26px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-content .description {
  font-size: 12px;
  font-weight: 500;
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-card hr {
  border: none;
  border-top: 2.5px solid rgba(0, 0, 0, 0.375);
}

.task-pri-dead {
  display: flex;
  flex-direction: column;
  gap: 6px;
} 

.label {
  font-size: 12px;
  font-weight: 600;
  color: black;
}


.priority {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badge {
  padding: 6px 14px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
}

.badge.low {
  background: #2ecc7099;
  color: #05870E;
}

.badge.medium {
  background: #f1c40f83;
  color: #8D7908;
}

.badge.high {
  background: rgba(230, 126, 34, 0.5);
  color: #C93E07;
}

.badge.critical {
  background: #be221153;
  color: #C50000;
}

.deadline {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: black;
}

