.name-table-page {
    color: white;
     background: url('nameBackground.png');
    background-size: cover;
}

.table-header {
    background: linear-gradient(90deg, #121429, #3F468F, #121429);
    padding: 1rem 3rem;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
   
}


.card-table {
    width: 100%;
    max-width: 740px;
    background: rgba(40, 44, 92, 0.5);
    margin-top: 80px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 60px 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.card-table h2 {
    text-align: center;
    font-size: 32px;
    color: #D0C6E3;
    margin-bottom: 40px;
    text-shadow: 0 2px 5px rgba(138, 142, 193, 1);
}


.input-name {
    margin-bottom: 50px;
}

.input-name input {
    width: 100%;
    height: 69px;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, .3) solid;
    background: #191C39;
    color: white;
    font-size: 20px;
    padding: 0 30px;
    outline: none;
}


.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(95deg, #2f3679, #2c3384, #23157d);
    margin-bottom: 40px;
}


.actions {
    display: flex;
    justify-content: right;
    gap: 25px;
}

.actions .ignore {
    font-size: 25px;
    cursor: pointer;
    padding: 20px 20px;
    opacity: 0.8;
}

.actions .ignore:hover {
    opacity: 1;
}

.actions .next {
    font-size: 25px;
    background: linear-gradient(95deg, #2c3384, #2a1e75);
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.actions .next:hover {
    background: linear-gradient(95deg, #31387e, #2f2473);
}