.footer {
    background: #0E0F18;
    color: white;
    padding: 50px 20px;
}


.footer-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;

}


.footer-content {
    display: flex;
    justify-content: left;
    margin-top: 100px;
    margin-left: 100px;
    flex-wrap: wrap;
    gap: 250px;
}


.footer-about {
    max-width: 350px;
}

.footer-h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 15px;
    color: #D9D9D9;
    line-height: 1.6;
}


.footer-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item-h4 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #D9D9D9;
}

.footer-item-p {
    font-size: 16px;
    margin: 0;
    color: white;
}


.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.2);
}


.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: left;
}

.footer-logo {
    font-family: Pacifico, cursive;
    font-size: 48px;
}

.footer-copy {
    font-size: 15px;
    letter-spacing: 2px;
}