.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #121429, #3F468F, #121429);
  padding: 1rem 3rem;
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
}


.header-logo {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.header-nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #aca9d8;
  transition: width 0.3s ease;
}

.header-nav a:hover::after {
  width: 100%;
}