.column {
  background: #b9bdea;
  border-radius: 12px;
  padding: 10px;
  width: fit-content;
  min-width: 320px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  transition: all 0.25s ease;
  overflow: visible;
}


.column-drag-handle {
  cursor: grab;
  user-select: none;
  font-size: 18px;
  padding-left: 5px;
}

.column-drag-handle:active {
  cursor: grabbing;
}

.columns-droppable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: visible;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.column-header {
  border-radius: 10px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-title-count {
  display: flex;
  gap: 20px;
  padding-right: 5px;
}

.column-title {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  display: flex;
  align-items: center;
}

.column-header span {
  background: #4b1ed0;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 15px;
}


.column-body {
  background: #6c72b0;
  border-radius: 12px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 12px;
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  max-width: 100%;
  scroll-behavior: smooth;
}

.columns-droppable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: visible;
}

.icon-btn {
  display: flex;
  gap: 30px;
}

.icon-btn img {
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

.icon-btn img:hover {
  opacity: 1;
}